@import "../base/_variables";

.large-hero{
	position: relative;

	&__text-content {
		/* how to center some text on an image */
		position:absolute;
		top:50%;
		transform: translateY(-50%);
		left:0;
		width: 100%;
		text-align:center;
		/* how to center some text on an image */
	}

	&__title {
		font-weight: 300;
		color: $mainBlue;
		margin: 0;
		font-size: 1.1rem;

		@mixin atSmall {
			font-size: 2rem;
		}
		
		@mixin atMedium{
			font-size: 3.2rem;
		}

		@mixin atLarge{
			font-size: 4.8rem;
		}

	}

	&__subtitle {
		font-weight: 300;
		color: $mainBlue;
		font-size: 1.1rem;	
		margin: 0;

		@mixin atSmall{
			font-size: 2.9rem;
		}
	}

	&__description {
		color: #fff;
		font-size: 1.875rem;
		font-weight: 100;
		text-shadow: 2px 2px 0 rgba(0,0,0,.1);
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
	}
}
